[submodule "libs/LibItemSearch-1.1"]
	path = libs/LibItemSearch-1.1
	url = git://github.com/Jaliborc/LibItemSearch-1.1.git
[submodule "libs/Unfit-1.0"]
	path = libs/Unfit-1.0
	url = git://github.com/Jaliborc/Unfit-1.0.git
[submodule "libs/LibItemCache-1.0"]
	path = libs/LibItemCache-1.0
	url = git@github.com:Jaliborc/LibItemCache-1.0.git
[submodule "libs/LibDataBroker-1.1"]
	path = libs/LibDataBroker-1.1
	url = git://github.com/tekkub/libdatabroker-1-1.git
