[submodule "external/Wildpants"]
	path = external/Wildpants
	url = https://github.com/tullamods/Wildpants.git
[submodule "external/LibDataBroker-1-1"]
	path = external/LibDataBroker-1-1
	url = https://github.com/tekkub/libdatabroker-1-1.git
